@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-gray-50 text-gray-900;
    height: 100%;
    overflow-y: auto;
  }

  @media (min-width: 1024px) {
    html,
    body {
      overflow: hidden;
    }
  }
}
